@import "../../sass/abstract/mixins";
@import "../../sass/abstract/variables";
.steps {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  padding-top: 3rem;
  flex-shrink: 0;
  @include respond(big-desktop) {
    padding-left: 5rem;
    padding-top: 3rem;
  }
  button {
    align-self: center;
    width: 300px;
    padding: 20px 0;
    margin-bottom: 20px;
  }
}

.stepItem {
  border: 1px solid rgb(224, 224, 225);
  border-radius: 0.6rem;
  margin-bottom: 5rem;
  position: relative;
  padding: 2rem;
  min-height: 20rem;
  @include respond(big-desktop) {
    margin-bottom: 7rem;
    padding: 4rem;
    padding-bottom: 2rem;
  }
  &__info {
    position: absolute;
    top: 3rem;
    left: 50%;
    font-size: 2rem;
    color: $color-primary;
    @include respond(big-desktop) {
      left: 65%;
    }
  }
  &__bg {
    position: absolute;
    top: 0rem;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    text-align: center;
    margin: 3rem 0;
    z-index: 0;
    @include respond(big-desktop) {
      top: 2rem;
    }
    svg {
      width: 17rem;
      @include respond(big-desktop) {
        width: 25rem;
      }
    }
  }
  &__text {
    position: relative;
    margin-top: 4rem;
    z-index: 10;
    color: $color-primary;
    font-size: 1.6rem;
    text-align: center;
    @include respond(big-desktop) {
      font-size: 2.2rem;
    }
  }
  &__link {
    position: relative;
    text-align: center;
    display: block;
    bottom: 0px;
    margin-top: 2rem;
    font-size: 1.5rem;
    @include respond(big-desktop) {
      font-size: 2rem;
    }
  }
}
.titleBox {
  position: absolute;
  margin: auto;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
  min-width: 25rem;
  @include respond(big-desktop) {
    min-width: 35rem;
  }
  &__icon {
    position: absolute;
    left: -1rem;
    top: -0.3rem;
    border: 0.4rem solid $color-primary;
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    @include respond(big-desktop) {
      width: 7rem;
      height: 7rem;
    }
    svg {
      width: 3rem;
      @include respond(big-desktop) {
        width: 4rem;
      }
    }
  }
  &__content {
    background-color: $color-primary;
    color: white;
    border-radius: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include respond(big-desktop) {
      padding: 0.5rem 3rem;
      padding-left: 4rem;
    }
  }
  &__smallLogo {
  }
  &__text {
    font-weight: normal;
    font-size: 1.5rem;
    height: 2.5rem;
    text-align: center;
    @include respond(big-desktop) {
      font-size: 1.8rem;
      height: 3rem;
    }
  }
}
